#application_main {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0px auto;
    flex-direction: column;
}

#application_form {
    display: flex;
    flex-direction: column;
}

#application_form label {
    margin-top: 16px;
}

#application_form #submit {
    margin-top: 16px;
}

#green_cont {
    width: 500px;

    flex-direction: column;

    margin-top: 16px;
    padding: 0px 8px 8px 8px;

    border-radius: 16px;
    background-color: var(--soft_sage);
}

#green_cont > h1 {
    font-size: var(header);
    color: var(--ghost_white);
    margin: 24px 0px 24px 0px;
}

#white_cont {
    width: 100%;

    display: flex;
    flex-direction: column;

    padding: 8px;

    border-radius: 16px;
    background-color: var(--ghost_white);
}

label {
    color: var(--pine-night);
    margin: 8px 0px 4px 4px;

    font-size: var(--header);
    font-family: --special_font;
}

input {
    padding: 8px;
    border-radius: 16px;
    border: 0px solid var(--ghost_white);
}

select {
    border: 0px;
    border-radius: 16px;
    padding: 8px;
}

#submit {
    min-width: fit-content;
    width: 20%;
    background-color: var(--soft_sage);
    color: var(--ghost_white);
    align-self: center;
    font-size: var(normal_font);
    font-family: var(--special_font);

    border-radius: 16px;
}

#response {
    margin-top: 16px;
}