:root {
    --pine_night: #29342C;
    --deep_forest: #395744;
    --base_colour: #648369;
    --soft_sage: #708768;
    --ghost_white: #EDF3FC;

    --general-font: "Montserrat" sans-serif;
    --special_font: "Merriweather", sans-serif;

    --bigger_header: max(30px, 3vw);
    --header: max(16px, 1.3vw);
    --normal_font: max(16px, 1vw);
    --call_to_action: max(16px, 1.5vw);
}