/*

This document is resposible for holding all base configuration for the Website pages, specific configs for page elements should be held in their respective documents

*/

/*

Section for Header Configuration
Modifies just the base header that is used accross all pages, does not include customisation for specific pages

*/

.base_header {
    width: 100%;
    height: 55.55%;
    min-height: 50px;
    max-height: 70px;

    display: flex;
    align-items: center;

    background-color: var(--base_colour);

    border: 0px 1px solid var(--deep_forest);
}

/*Logo and Website Name Subsection*/

.a_header {
    height: 100%;

    display: flex;
    align-items: center;
    margin-right: auto;

    text-decoration: none;
}

.logo {
    height: 100%;

    display: inline;
}

.h1_header {
    display: inline;

    font-size: max(30px, 2vw);
    color: var(--ghost_white);
    text-indent: 10px;
}

/*Home Button Subsection*/

.a_home {
    width: 6%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--ghost_white);
    font-size: var(--normal_font);
    font-family: var( --special_font);
    font-weight: bold;
    text-decoration: none;

    border-radius: 5px;
}

.a_home:hover {
    border: 1px solid var(--ghost_white);
}

/*

Section for Nav Configuration
Modifies just the base Nav that is used accross all pages, does not include customisation for specific pages

*/

.base_nav {
    width: 100%;
    height: 44.44%;
    min-height: 40px;
    max-height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--soft_sage);
    border: 1px solid var(--soft_sage);
}

.ul_nav {
    width:100%;
    height: 100%;

    display: flex;
    justify-content: space-evenly;
}

.li_nav {
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0px 5px;
    margin: 0px;

    font-size: var(--normal_font);
    font-family: var(--special_font);
    font-weight: bold;
    list-style-type: none;

    border-radius: 50px;

    transition: border 2s;
}

.a_nav {
    width: 12%;
    min-width: fit-content;

    color: var(--ghost_white);
    text-decoration: none;

    transition: border 2s;
}

.li_nav:hover {
    outline: 1px solid var(--ghost_white);
    outline-offset: -1px;
    border-radius: 50px;
}

/*Nav Dropdown Menu Subsection*/

.dropbtn {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--ghost_white);
    font-size: var(--menu);
    font-weight: bold;
    cursor: pointer;
}

.dropdown {
    height: 100%;
    width: 5%;
    min-width: 40px;

    list-style-type: none;
}

.dropdown_content {
    width: 12%;
    min-width: fit-content;
    height: fit-content;

    display: none;
    position: absolute;
    z-index: 1;

    background-color: var(--soft_sage);
}

.a_dropdown {
    text-decoration: none;
    color: var(--ghost_white);
}

.li_dropdown {
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px;

    font-size: var(--normal_font);
    font-family: var(--special_font);
    font-weight: bold;
    list-style-type: none;
    
}

.li_dropdown:hover {
    outline: 1px solid var(--ghost_white);
    outline-offset: -1px;
}

.a_home_nav {
    width: 6%;
    min-width: 60px;
    height: 100%;

    display: none;
    align-items: center;
    justify-content: center;

    color: var(--ghost_white);
    font-size: var(--normal_font);
    font-family: var(--special_font);
    text-decoration: none;
    font-weight: bold;

    border-radius: 5px;
}

.a_home_nav:hover {
    border: 1px solid var(--ghost_white);
}

/*

Section for Main Configuration
Modifies just the base Main that is used accross all pages, does not include customisation for specific pages

*/

.base_main {
    width: 100%;
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: var(--ghost_white);
}

main p {
    margin: 10px 0px;

    font-size: var(--normal_font);
}

main h1 , main h2{
    margin-top: 25px;
    
    color: var(--pine_night);
    font-size: var(--header);
    font-weight: bold;
}

main ul {
    margin: 10px 0px 0px 20px;
}

main li {
    margin-top: 2px;

    font-size: var(--normal_font);
}

h1, h2 {
    font-family: var(--special_font);
    font-weight: bold;
}

/*

Section for Footer Configuration
Modifies just the base Footer that is used accross all pages, does not include customisation for specific pages

*/

.base_footer {
    width: 100%;
    height: 35%;
    min-height: fit-content;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    margin-top: 50px;
    padding: 10px;

    background-color: var(--base_colour);
}

.ul_footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.li_footer {
    padding-top: 5px;

    color: var(--ghost_white);
    font-size: var(--normal_font);
    list-style-type: none;
}

.li_footer_title {
    margin-bottom: 10px;
    
    font-size: var(--call_to_action);
    font-family: var(--special_font);
    font-weight: bold;
}

.a_footer {
    text-decoration: none;
}

.a_footer:hover {
    text-decoration: underline;
    text-decoration-color: var(--ghost_white);
}